<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" action="/vtom">
        <fieldset>
            <div>
                <label for="Text">Name:</label>
                <input type="text" name="Text" />
            </div>

            <div>
                <label for="TextArea">TextArea:</label>
                <textarea name="TextArea"></textarea>
            </div>

            <div>
                <label for="Tel">Tel:</label>
                <input type="tel" name="Tel" />
            </div>

            <div>
                <label for="Url">Url:</label>
                <input type="url" name="Url" />
            </div>

            <div>
                <label for="Email">Email:</label>
                <input type="email" name="Email" />
            </div>

            <div>
                <label for="Date">Date:</label>
                <input type="date" name="Date" />
            </div>

            <div>
                <label for="RememberMe">Checkbox:</label>
                <input type="checkbox" name="Checkbox" />
            </div>

            <div>
                <label for="Status">RadioButtonValue:</label>
                <label for="radio_good">Good</label>
                <input type="radio" name="RadioButtonValue" value="good" id="radio_good" />
                <label for="rad_normal">Normal</label>
                <input type="radio" name="RadioButtonValue" value="normal" id="rad_normal" />
                <label for="rad_bad">Bad</label>
                <input type="radio" name="RadioButtonValue" value="bad" id="rad_bad" />
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</body>
</html>
